@if (products) {
  <div class="d-flex flex-column gap-3">
   <div class="d-flex justify-content-between align-items-center flex-wrap">

      <mat-paginator
      class="bg-white"
         (page)="handlePageEvent($event)"
         [length]="products.totalEntities"
         [pageSize]="shopPaginationParams.entitiesPerPage"
         [showFirstLastButtons]="true"
         [pageSizeOptions]="pageSizeOptions"
         [pageIndex]="shopPaginationParams.pageNumber - 1"
         aria-label="Select page"
      >

      </mat-paginator>
      
      <form 
          #searchForm="ngForm"
          (ngSubmit)="onSearchChange()"
          class="position-relative d-flex align-items-center w-100 mx-4 mt-3 mt-md-0"
          >
           <input 
              type="search" 
              class="form-control p-3 rounded"
              placeholder="Search"
              name="search"
              [(ngModel)]="shopPaginationParams.search"
            />
           <button mat-icon-button type="submit"
                class="btn btn-dark position-absolute top-0 end-0 mt-2 me-3 d-flex align-items-center"
           >
              <mat-icon>search</mat-icon>
           </button>
        </form>

      <div class="d-flex gap-3 mt-3 mt-md-0">
        <button class="btn btn-outline-dark match-input-height dark-red-button" mat-stroked-button (click)="openFiltersDialog()">
         <mat-icon>filter_list</mat-icon>
         Filters
      </button>
      <button class="btn btn-outline-dark match-input-height dark-red-button" mat-stroked-button [mat-menu-trigger-for]="sortMenu">
         <mat-icon>swap_vert</mat-icon>
         Sort
      </button>
      </div>
      
   </div>

   <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 g-4 mt-3">
    @for (product of products.data; track product.id) {
        <app-product-item [product]="product"></app-product-item>
    }
    </div>

</div>

<mat-menu #sortMenu="matMenu">
    <mat-selection-list [multiple]="false" (selectionChange)="onSortChange($event)">
        @for (sort of sortOptions; track $index) {
            <mat-list-option [value]="sort.value" [selected]="shopPaginationParams.sort === sort.value">
                {{sort.name}}
            </mat-list-option>
        }
    </mat-selection-list>
</mat-menu>

}



 

 
