<header class="border-bottom shadow p-3 w-100 bg-white mb-5" style="overflow: visible;">

  <div class="d-flex align-items-center justify-content-between container-xxl mx-auto">

      <img routerLink="/" src="/images/logo.png" alt="app logo" class="img-fluid" style="max-height: 4rem;">
      
      <div class="d-flex align-items-center gap-5">
         <nav class="d-flex gap-3 my-2 text-uppercase fs-4">
            <a routerLink="/"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}"
               style="color: black; text-decoration: none;"
               >Home</a>

            <a routerLink="/shop" routerLinkActive="active"
               style="color: black; text-decoration: none;">Shop</a>
            <a routerLink="/test-error" routerLinkActive="active"
               style="color: black; text-decoration: none;">Errors</a>
         </nav>
      </div>

      

     <div class="d-flex gap-3 align-items-center">
        <a routerLink="/cart" routerLinkActive="active"
         matBadge="{{cartService.itemCount()}}" 
         matBadgeSize="large" 
         class="custom-badge mt-2 me-2">
          <mat-icon>shopping_cart</mat-icon>
        </a>
        @if (accountService.currentUser()) {
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>arrow_drop_down</mat-icon>
            <span>{{accountService.currentUser()?.email}}</span>
          </button>
        } @else {
        <button routerLink="/account/login" mat-stroked-button>Login</button>
        <button routerLink="/account/register" mat-stroked-button>Register</button>
        }
     </div>
  </div>
</header>

@if (busyService.loading) {
   <mat-progress-bar mode="indeterminate" class="position-fixed mt-5 z-3 w-100"></mat-progress-bar>
}

<mat-menu #menu="matMenu" class="px-2">
   <button mat-menu-item class="px-3" routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>
      My Cart
   </button>
   <button mat-menu-item class="px-3" routerLink="/orders">
      <mat-icon>history</mat-icon>
      My orders
   </button>
   <mat-divider></mat-divider>
   <button mat-menu-item class="px-3" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
   </button>
</mat-menu>