.custom-badge .mat-badge-content{
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
}

.custom-badge .mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
}

a {
    &.active {
      color: #8B0000 !important;
      text-decoration: none !important;
    }
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

form input.form-control {
  height: 40px !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
}

form button[mat-icon-button] {
  height: 40px !important;
  width: 40px !important;
  min-width: 40px !important;
}

form {
  align-items: stretch !important;
}

a .mat-badge-content{
    background-color: black;
}

