.product-image {
    width: 15%;
    height: 322px;
    object-fit: cover;
    padding-left: 14px;
    padding-top: 11px;   
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100% 100%;
  filter: invert(0%) brightness(0%); /* makes arrows black */
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
