<div class="container mt-5">
   <h2 class="fw-semibold fs-4 mb-4 text-center">My orders</h2>

   <div class="d-flex flex-column">
       <div class="w-100">

          <table class="table table-hover table-bordered align-middle text-center">

             <thead class="table-light text-uppercase text-secondary small">
                <tr>
                    <th scope="col">Order</th>
                    <th scope="col" class="text-start">Date</th>
                    <th scope="col" class="text-start">Total</th>
                    <th scope="col" class="text-start">Status</th>
                </tr>
             </thead>

             <tbody>
                @for (order of orders; track order.id) {
                   <tr routerLink="/orders/{{order.id}}" style="cursor: pointer;">
                     <th scope="row" class="px-3 py-2"># {{order.id}}</th>
                     <td class="text-start">{{order.orderDate | date: 'medium'}}</td>
                     <td class="text-start">{{order.total | currency}}</td>
                     <td class="text-start">{{order.status}}</td>
                   </tr>
                }
             </tbody>

          </table>
       </div>
   </div>
</div>

