<div class="container my-0 w-100 mx-2">

   <div class="border rounded p-4 bg-white shadow-sm mb-4">

      <p class="fs-5 fw-semibold">Order Summary</p>

      <div class="mb-4">

            <dl class="d-flex justify-content-between mb-2">
                <dt class="fw-medium text-muted">Subtotal</dt>
                <dd class="fw-medium text-dark">
                  {{cartService.totals()?.subtotal | currency}}
               </dd>
            </dl>

            <dl class="d-flex justify-content-between mb-2">
                <dt class="fw-medium text-muted">Discount</dt>
                <dd class="fw-medium text-success">-{{cartService.totals()?.discount | currency}}</dd>
            </dl>

            <dl class="d-flex justify-content-between mb-2">
                <dt class="fw-medium text-muted">Delivery fee</dt>
                <dd class="fw-medium text-dark">{{cartService.totals()?.shipping | currency}}</dd>
            </dl>

         <dl class="d-flex justify-content-between border-top pt-3">
                <dt class="fw-medium text-muted">Total</dt>
                <dd class="fw-medium text-dark">{{cartService.totals()?.total | currency}}</dd>
         </dl>

      </div>
 
       @if (location.path() !== '/checkout') {
         <div class="d-flex flex-column gap-2">
            <button routerLink="/checkout" mat-flat-button>Checkout</button>
            <button routerLink="/shop" mat-button>Continue Shopping</button>
         </div>
      }
      
   </div>

   <div class="rounded border bg-white shadow-sm p-3">

      <form class="d-flex flex-column gap-2">

        <label class="form-label fw-medium mb-2">
            Do you have a voucher code?
        </label>

         <mat-form-field appearance="outline">
            <mat-label>Voucher code</mat-label>
            <input type="text" matInput>
         </mat-form-field>

         <button mat-flat-button>Apply code</button>

      </form>

   </div>

</div>