@if (order) {
    <mat-card class="bg-white py-4 shadow-sm container mt-5">

        <div class="px-3 w-100">

            <div class="d-flex justify-content-between align-items-center mb-4">
              <h2 class="fs-4 text-center fw-semibold">Order summary for order #{{order.id}}</h2>
              <button routerLink="/orders" mat-stroked-button>Return to orders</button>
            </div>

            <div class="py-3 border-top border-secondary d-flex flex-wrap gap-4">

                <div class="mb-4" style="min-width: 300px;">
                    <h4 class="fs-5 fw-semibold">Billing and delivery information</h4>

                    <dl class="mb-3">
                        <dt class="fw-medium">Shipping address</dt>
                        <dd class="mt-1 fw-light">{{order.shippingAddress | address}}</dd>
                    </dl>

                    <dl>
                        <dt class="fw-medium">Payment info</dt>
                        <dd class="mt-1 fw-light">{{order.paymentSummary | paymentCard}}</dd>
                    </dl>

                </div>

                <div class="mb-4" style="min-width: 300px;">
                    <h4 class="fs-5 fw-semibold">Order details</h4>

                    <dl class="mb-3">
                        <dt class="fw-medium">Email address</dt>
                        <dd class="mt-1 fw-light">{{order.buyerEmail}}</dd>
                    </dl>

                    <dl class="mb-3">
                        <dt class="fw-medium">Order stauts</dt>
                        <dd class="mt-1 fw-light">{{order.status}}</dd>
                    </dl>

                     <dl>
                        <dt class="fw-medium">Order date</dt>
                        <dd class="mt-1 fw-light">{{order.orderDate | date: 'medium'}}</dd>
                    </dl>

                </div>

            </div>

            <div class="mt-4">

                <div class="border-top border-bottom border-secondary">

                    <table class="table text-center align-middle">

                        <tbody class="table-group-divider">
                            @for (item of order.orderItems; track item.productId) {
                                <tr>
                                    <td class="py-3 text-start">
                                        <div class="d-flex align-items-center gap-3">
                                            <img src="{{item.pictureUrl}}" alt="product image" 
                                            class="img-thumbnail" style="width: 65px; height: 65px;">
                                            <span>{{item.productName}}</span>   
                                        </div>
                                    </td>
                                    <td class="p-4">x{{item.quantity}}</td>
                                    <td class="text-end">{{item.price | currency}}</td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>

            </div>

            <div class="mt-4 rounded border-top border-bottom border-secondary p-3 bg-white">

                <p class="fs-5 fw-semibold mb-3">Order Summary</p>

                <div class="mb-3">

                        <dl class="d-flex justify-content-between">
                            <dt class="fw-medium text-muted">Subtotal</dt>
                            <dd class="fw-medium">
                            {{order.subtotal | currency}}
                            </dd>
                        </dl>

                        <dl class="d-flex justify-content-between">
                            <dt class="fw-medium text-muted">Discount</dt>
                            <dd class="fw-medium text-success">-$0.00</dd>
                        </dl>

                        <dl class="d-flex justify-content-between">
                            <dt class="fw-medium text-muted">Delivery fee</dt>
                            <dd class="fw-medium">{{order.shippingPrice| currency}}</dd>
                        </dl>

                    </div>

                    <dl class="d-flex justify-content-between border-top pt-2">
                            <dt class="fw-medium text-muted">Total</dt>
                            <dd class="fw-medium">{{order.total | currency}}</dd>
                    </dl>

                </div>

        </div>

    </mat-card>
}

