<div class="mt-4 w-100">
   <h4 class="fs-5 fw-semibold">Billing and delivery information</h4>
   <dl>
      <dt class="fw-medium">Shipping address</dt>
      <dd class="mt-1 text-muted">{{confirmationToken?.shipping | address}}</dd>
      <dt class="fw-medium">Payment details</dt>
      <dd class="mt-1 text-muted">{{confirmationToken?.payment_method_preview | paymentCard}}</dd>
   </dl>
</div>

<div class="mt-5 mx-auto">
    <div class="border-bottom border-secondary">
        <table class="table table-bordered text-center align-middle">
            <tbody>
                @for (item of cartService.cart()?.items; track item.productId) {
                    <tr>
                        <td class="py-3 text-start">
                            <div class="d-flex align-items-center gap-3">
                                <img src="{{item.pictureUrl}}" alt="product image" 
                                   class="img-thumbnail" style="width: 40px; height: 40px;">
                                <span>{{item.productName}}</span>   
                            </div>
                        </td>
                        <td class="p-3">x{{item.quantity}}</td>
                        <td class="p-3 text-end">{{item.price | currency}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

