<div class="container-xxl mx-auto px-4 mt-5">
  <div class="d-flex flex-column align-items-center py-5 justify-content-center mt-4 rounded-4
    shadow-lg position-relative">
    <img 
       class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover rounded-4"
       src="../images/home_logo.png" 
       alt=" ultimate sports supplies warehouse image">
    
       <div class="d-flex flex-column p-4 rounded-4 align-items-center position-relative text-center">
       <h1 class="my-4 fw-bold text-white display-1">
        Welcome to Ultimate Sports Supplies!
       </h1>
       <button
          class="btn btn-lg px-5 py-3 mt-4 text-white"
          routerLink="/shop"
          style="background-color: #8B0000; border: none; border-radius: 1rem;"       
       >
         Go to shop
       </button>
    </div>   
  </div>
</div>
