<div class="w-100">
   <mat-radio-group 
      [value]="cartService.selectedDelivery()?.id" 
      (change)="updateDeliveryMethod($event.value)"
       class="row g-3"
   >

     @for (method of checkoutService.deliveryMethods; track method.id) {
         <div class="col-md-6">
            <label class="p-3 border border-secondary rounded w-100 h-100 d-block bg-white hover-shadow">
               <mat-radio-button 
                  class="w-100 h-100" 
                  [checked]="cartService.selectedDelivery() === method"
                  [value]="method">
                  <div class="d-flex flex-column w-100 h-100">
                     <strong>{{method.shortName}} - {{method.fee | currency}}</strong>
                     <span class="text-muted small">{{method.description}}</span>
                  </div>
               </mat-radio-button>
            </label>
         </div>
         
     }
   </mat-radio-group>

</div>

