<mat-card class="card mx-auto mt-5 p-4 bg-white" style="max-width: 32rem;">

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="text-center mb-4">

            <h1 class="h4 fw-semibold text-danger">Register</h1>

        </div>

        <div class="d-grid gap-3">
            <app-text-input label="First name" formControlName="firstName" />
            <app-text-input label="Last name" formControlName="lastName" />
            <app-text-input label="Email address" formControlName="email" />
            <app-text-input label="Password" formControlName="password"  type="password"/>
        </div>
        
       
        @if (validationErrors){
            <div class="mb-3 p-3 bg-danger-subtle text-danger border border-danger rounded">
               <ul class="ps-3 mb-0">
                 @for (error of validationErrors; track $index) {
                    <li>{{error}}</li>
                 }
               </ul>
            </div>
        }

        <button 
           [disabled]="registerForm.invalid"
           mat-flat-button
           type="submit" 
           class="btn btn-danger w-100 py-2">Register</button>
    
    </form>

</mat-card>


