@if (signalrService.orderSignal(); as order){
  <section class="bg-white py-5">

    <div class="container" style="max-width: 720px;">

        <h2 class="fw-semibold fs-4 mb-2">Thanks for your fake order!</h2>
        
        <p class="text-muted mb-4">Your order <span class="fw-medium">{{order.id}}</span>
        will never be processed as this is a fake shop. we will not notify you once your order has not shipped.
        </p>

        <div class="rounded border border-secondary-subtle bg-light p-4 mb-4">
            
            <dl class="row mb-2">
                <dt class="col-6 text-muted">Date</dt>
                <dd class="col-6 fw-medium text-end">{{order.orderDate | date: 'medium'}}</dd>
            </dl>

            <dl class="row mb-2">
                <dt class="col-6 text-muted">Payment method</dt>
                <dd class="col-6 text-end fw-medium">{{order.paymentSummary | paymentCard}}</dd>
            </dl>

            <dl class="d-flex align-items-center justify-content-between gap-4">
                <dt class="col-6 text-muted">Address</dt>
                <dd class="col-6 text-end fw-medium">{{order.shippingAddress | address}}</dd>
            </dl>

            <dl class="row mb-0">
                <dt class="col-6 text-muted">Amount</dt>
                <dd class="col-6 text-end fw-medium">{{order.total | currency}}</dd>
            </dl>

        </div>

        <div class="d-flex gap-3">
            <button routerLink="/orders/{{order.id}}" mat-flat-button>View your order</button>
            <button routerLink="/shop" mat-stroked-button>Continue shopping</button>
        </div>

    </div>

</section>
} @else {
    <section class="bg-white py-5">

    <div class="container" style="max-width: 720px;">
        
        <h2 class="fw-semibold fs-4 mb-3">Order processing... please wait</h2>

        <div class="rounded border border-secondary-subtle bg-light p-4 mb-4">
           <div class="d-flex flex-column align-content-center align-items-center text-center">
              <mat-spinner diameter="30"></mat-spinner>
              <p class="fs-5 mt-3">Loading order...</p>
              <span>Your payment has been received. We are creating the order</span>
           </div>
        </div>

        <div class="d-flex gap-3">
            <button routerLink="/shop" mat-stroked-button>Continue shopping</button>
        </div>

    </div>

</section>

}



